
.btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight:bold;
    color: #fff;
    margin: 5px;
}

.btn-primary {
    background: blue;
    padding: 10px 30px
}

.btn-danger {
    background: red;
}

.btn-warning {
    background: orange;
}

table {
    border: 1px solid #000;
}